<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IP Get</title>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <table>
            <tr>
                <!-- <th colspan="3">[root@{{ client_info.remote_hostname }}]: ~&gt;# ipget</th> -->
                <th colspan="2"># ipget</th>
            </tr>
            <tr>
                <td>curl {{ client_info.remote_hostname }}<br>curl {{ client_info.remote_hostname }}/ip</td>
                <td><p>{{ client_info.ip }}</p></td>
            </tr>
            {% if client_info.host %}
            <tr>
                <td>curl {{ client_info.remote_hostname }}/host</td>
                <td>{{ client_info.host }}</td>
            </tr>
            {% endif %}
            {% if client_info.xff %}
            <tr>
                <td>curl {{ client_info.remote_hostname }}/xff</td>
                <td>{{ client_info.xff }}</td>
            </tr>
            {% endif %}
            {% if client_info.city and client_info.country %}
            <tr>
                <td>curl {{ client_info.remote_hostname }}/city<br>curl {{ client_info.remote_hostname }}/country</td>
                <td>{{ client_info.city }}, {{ client_info.country }}</td>
            </tr>
            {% endif %}
            <tr>
                <td>curl {{ client_info.remote_hostname }}/ua</td>
                <td>{{ client_info.user_agent }}</td>
            </tr>
            <tr>
                <td>curl {{ client_info.remote_hostname }}/headers</td>
                <td>{{ client_info.headers|safe }}</td>
            </tr>
            <tr>
                <th colspan="2"># <span class="blink">|</span></th>
            </tr>
            <!-- Add more rows if needed -->
        </table>

        <footer>&copy; <span id="current-year"></span> IP Get v{{ app_version }}</footer>
        <script>
            document.getElementById('current-year').textContent = new Date().getFullYear();
        </script>
    </div>
</body>
</html>
