:root {
    --black:    #010508;
    --dgray:    #0D1117;
    --mgray:    #161B22;
    --gray:     #8D949F;
    --lgray:    #d3d3d3;
    --green:    #83D882;
    --red:      #F87A54;
    --lred:     #FFC7A8;
    --yellow:   #FEFE00;
    --lyellow:  #FFFFB4;
    --orange:   #EFA157;
    --blue:     #73C6FE;
    --white:    #DDE2E9;
}

body {
    background-color: var(--black);
    font-family: 'Source Code Pro', monospace;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.container {
    background-color: var(--mgray);
    padding: 20px;
    border-radius: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
}

table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: 2px solid var(--gray);
}

th, td {
    flex: 1;
    text-align: left;
    padding: 8px;
    border: 2px solid var(--gray);
    overflow: hidden;
    text-overflow: ellipsis;
}

tr {
    background-color: var(--dgray);
}

tr:hover {
    background-color: var(--mgray);
}

th {
    color: var(--lred);
    background-color: var(--black);
    text-align: left;
}

td:nth-child(1) {
    color: var(--white);
    font-size: 1.1em;
    overflow: hidden;
    width: 1%;
    white-space: nowrap;
}

th:nth-child(2), td:nth-child(2) {
    color: var(--lgray);
    font-size: 0.9em;
    word-wrap: break-word;
    word-break: break-all;
    overflow-wrap: break-word;
}

footer {
    color: var(--gray);
    background-color: var(--black);
    text-align: center;
    padding: 5px 0;
    margin-top: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.blink {
    animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

p {
    font-size: 2em;
    font-weight: bold;
    color: var(--green);
}

#flipper {
    font-weight: bold;
}

#flipper, #panel {
    text-align: left;
}
